[Unit]
Description={{ app_name }} Podman container
Wants=syslog.service

[Service]
User={{ deploy_user }}
Group={{ deploy_user }}
Restart=on-failure

Type=simple
ExecStart=/bin/sh {{ systemd_script }}
ExecStop=/usr/bin/podman container stop -t 10 {{ app_name }}

[Install]
WantedBy=multi-user.target
